.page-container
    display: grid
    grid-template-columns: 20% auto 20%
    .pagar-btn
        color: purple
        font-size: 2rem
        width: 70%
        height: 40%
        background-color: #ABD699
        margin-left: 15%
        margin-top: 25%
