.cart-btn button 
    border-radius: 0

.btn-circle 
    width: 30px
    height: 30px
    text-align: center
    padding: 6px 0
    font-size: 12px
    line-height: 1.428571429
    border-radius: 15px


.div-quantity 
    width: 10%

#quantity-input 
    width: 16%


#quantityInput2 
    width: 60px
    background-color: #212121

.chip-inicio
    color: #ffe26a

.body-inicio
    background-color: #c7ddcc

.mat-chip-list-wrapper
    padding-left: 10px
    padding-top: 10px

.chip-img
    max-height: 20px
    
.toolbar-spacer
    width: 95%

.home-sidebar
    min-width: 15%
    background-color: yellow

.home-content
    min-width: 85%
    background-color: lightblue

.cancelar-btn
    color: red

.mat-chip-list-wrapper
    background-color: #c7ddcc
