<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="mb-4 border rounded-2 text-center p-3">
          Your Shopping Cart
        </h2>
        <div class="card wish-list mb-3" id="cartItemsGrid">
          <div class="card-body" id="listCart">
            <div class="row mb-4" *ngFor="let item of productos">
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img
                    class="img-fluid w-100"
                    src="{{ item.imageProduct }}"
                    alt="Sample"
                  />
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h2>{{ item.name }}</h2>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <p class="mb-0">
                      <span
                        ><strong id="PriceItemCart"> Precio unitario: {{
                          item.price
                        }}</strong></span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 right-grid">
        <div class="card mb-3 expected-delivery">
          <div class="card-body">
            <h5 class="mb-4">Expected shipping delivery</h5>

            <p class="mb-0">Thu., 12.03. - Mon., 16.03.</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body total-amount">
            <h5 class="mb-3" id="total-label">The total amount of</h5>

            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Subtotal
                <span id="subTotal">${{ suma }}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center px-0"
              >
                I.V.A 16%
                <span id="ivaCart">${{ suma * 0.16 }}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
              >
                <div>
                  <strong>TOTAL</strong>
                  <strong>
                    <p class="mb-0">(including IVA)</p>
                  </strong>
                </div>
                <span
                  ><strong id="totalFinal">${{ suma * 1.16 }}</strong></span
                >
              </li>
            </ul>

            <button
              type="button"
              data-toggle="modal"
              data-target="#deleteFormModalCart"
              class="btn btn-primary btn-block waves-effect waves-light"
            >
              Pay now
            </button>
          </div>
        </div>
        <div class="card mb-3 footer">
          <div class="card-body">
            <p>We accept</p>
            <div class="img-container">
              <img
                class="mr-2"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa"
              />
              <img
                class="mr-2"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express"
              />
              <img
                class="mr-2"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
