.chip-inicio
    color: white

.body-inicio
    background-color: white

.mat-chip-list-wrapper
    padding-left: 10px
    padding-top: 10px

.chip-img
    max-height: 20px
    
.toolbar-spacer
    width: 95%

.home-sidebar
    min-width: 15%
    background-color: white

.home-content
    min-width: 85%
    background-color: white

.cancelar-btn
    color: red

.mat-chip-list-wrapper
    background-color: white

.modal-footer
    justify-content: flex-start
    .grid
        display: grid
        width: 100% 
        grid-template-columns: 35% auto 15% 15%
