<ng-container class="body-inicio" style="background-color: white">
  <ng-container>
    <app-grid [productos]="productos"></app-grid>
    <div class="footer-container">
      <div class="footer-label">
        Frase del día
        <p id="fraseAPI"></p>
      </div>
      <mat-paginator
        [length]="2"
        [pageSize]="10"
        aria-label="Select page"
        style="background-color: white"
      >
      </mat-paginator>
    </div>
  </ng-container>
</ng-container>
