<ng-template #content let-modal>
  <div class="modal-header">
    <h4 style="margin: 0rem">Iniciar sesión</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    Correo:
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input
        type="email"
        matInput
        placeholder="Ex. test@gmail.com"
        [(ngModel)]="email"
        name="email"
        required
      />
    </mat-form-field>
    <br />
    Contraseña:
    <mat-form-field appearance="fill">
      <mat-label>Contraseña </mat-label>
      <input
        type="password"
        matInput
        placeholder="Ex. test@gmail.com"
        [(ngModel)]="password"
        name="password"
        required
      />
    </mat-form-field>
  </div>
  <div class="modal-footer">
    No tiene cuenta? <a href="./registro">Registro</a>
    <span style="width: '30%'"></span>
    <button
      class="cancelar-btn"
      mat-button
      type="button"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button class="inicio-btn" mat-button (click)="loginStatusUser()">
      Ingresar
    </button>
  </div>
</ng-template>

<ng-container class="body-inicio">
  <ng-container>
    <mat-chip-list class="chip-container">
      <mat-chip class="chip-inicio" style="background-color: white">
        Descuentos
      </mat-chip>
      <mat-chip class="chip-inicio" style="background-color: white">
        Hombre
      </mat-chip>
      <mat-chip class="chip-inicio" style="background-color: white">
        Mujer
      </mat-chip>
    </mat-chip-list>
    <app-grid></app-grid>
    <div class="footer-container">
      <p id="fraseAPI"></p>
      <mat-paginator
        [length]="2"
        [pageSize]="10"
        aria-label="Select page"
        style="background-color: white"
      ></mat-paginator>
    </div>
  </ng-container>
</ng-container>
