.chip-inicio
    color: #ffe26a

.body-inicio
    background-color: #c7ddcc

.mat-chip-list-wrapper
    padding-left: 10px
    padding-top: 10px

.chip-img
    max-height: 20px
    
.toolbar-spacer
    width: 95%

.home-sidebar
    min-width: 15%
    background-color: yellow

.home-content
    min-width: 85%
    background-color: lightblue

.cancelar-btn
    color: red

.mat-chip-list-wrapper
    background-color: #fff

.footer-container
    display: grid
    grid-template-columns: 80% auto
    #fraseAPI
        font-size: x-large
        margin: auto
        font-style: italic

mat-card
    margin: 5%
    img
        border: 1px solid grey
        margin-bottom: 2%
    .grid
        display: grid
        grid-template-rows: auto 30% auto
        align-items: center