.chip-inicio
    color: white

.body-inicio
    background-color: white
    width: 43%

.mat-chip-list-wrapper
    padding-left: 10px
    padding-top: 10px

.chip-img
    max-height: 20px
    
.toolbar-spacer
    width: 95%

.example-full-width
    min-width: 65%
    padding-left: 35%
    //width: 60%

.button-container
    width: 30%
    margin: auto
    display: grid
    grid-template-columns: auto 15% 4% 15%
    
.body-container
    margin-top: 5%

.home-sidebar
    min-width: 15%
    background-color: white

.home-content
    min-width: 85%
    background-color: white

.cancelar-btn
    color: red

.mat-chip-list-wrapper
    background-color: white