<mat-toolbar class="toolbar-inicio">
    <mat-toolbar-row>
        <button routerLink="/home" >DABO</button>
        <span class="toolbar-spacer"></span>
        <h5>Registro de producto</h5>
    </mat-toolbar-row>
</mat-toolbar>

<!--<ng-container class="body-inicio" style="background-color: #75c9b7">
    <ng-container class="toolbar-spacer">
        
    </ng-container>
</ng-container>-->
<div>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Marca</mat-label>
        <input type="text" matInput placeholder="Ex. Levi's" [(ngModel)]="dataProduct.name" name="marca" required>
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descripcion de producto</mat-label>
        <input type="text" matInput placeholder="Ex. Pantalon blanco para..." [(ngModel)]="dataProduct.description" name="descripcion" required>
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Imagen de producto</mat-label>
        <input type="url" matInput placeholder="Ex. https://image..." [(ngModel)]="dataProduct.imageProduct" name="imageurl" required>
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Precio</mat-label>
        <input type="number" matInput placeholder="Ex. 250" [(ngModel)]="dataProduct.price"
          name="precio" required>
      </mat-form-field>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Descuento</mat-label>
          <input type="number" matInput placeholder="Ex. 10" [(ngModel)]="dataProduct.discount"
            name="descuento" required>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cantidad de productos</mat-label>
          <input type="number" matInput placeholder="Ex. 50" [(ngModel)]="dataProduct.stock"
            name="cantProductos" required>
        </mat-form-field>
      </form>
   <!--<form>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Etiqueta</mat-label>
        <select matNativeControl  name="tipousuario" ngfor="let item of value">
          <option >{[value]}</option>
          
        </select>
      </mat-form-field>
    </form>
-->
    <div class="button-accept">
      <button type="button" mat-raised-button color="warn" routerLink="/home">Cancelar</button>
      <button type="button" mat-raised-button color="primary" (click)="CreateProduct()"
        routerLink="/home">Crear</button>
    </div>
  </div>



<!--
-->