<!--- TODO: Agregar descuento en la card-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="margin: 0rem">
      {{ titulo }} <br />
      {{ precio }}
    </h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <img src="{{ imgSource }}" alt="" class="img-modal" />
    <p>{{ descripcion }}</p>
  </div>
  <div class="modal-footer">
    <button class="articulo-btn" mat-button (click)="openSnackBar($event)">
      AGREGAR A CARRITO
    </button>
  </div>
</ng-template>

<mat-card class="articulo-card" (click)="open(content)">
  <mat-card-header>
    <mat-card-title class="articulo-nombre">{{ titulo }}</mat-card-title>
    <mat-card-subtitle class="articulo-precio">${{ precio }}</mat-card-subtitle>
  </mat-card-header>
  <img src="{{ imgSource }}" alt="" />
  <mat-card-content>
    <p>
      {{ descripcion }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="grid">
      <div></div>
      <button class="articulo-btn" mat-button (click)="openSnackBar($event)">
        AGREGAR A CARRITO
      </button>
      <div></div>
    </div>
  </mat-card-actions>
</mat-card>
