<div class="producto-card">
  <div>
    <img src="../../assets/img/articulo_1.jpg" />
  </div>
  <div class="producto-contenido">
    <h2 class="producto-titulo">TITULO</h2>
    <h3 class="producto-precio">PRECIO</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit similique
      quis nobis harum non, cum unde reprehenderit dicta animi magni nulla
      provident adipisci architecto autem doloremque, quia porro. Libero,
      assumenda.
    </p>
    <button mat-button>Eliminar</button>
  </div>
</div>
