<ng-container class="app-container">
  <div class="grid">
    <div></div>
    <div class="grid-preguntas">
      <mat-form-field class="registro" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>date birth</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>password</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>repetir password</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field class="registro" appearance="fill">
        <mat-label>address</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div></div>
  </div>
  <div class="comprar-container">
    <div></div>
    <div class="pregunta-container">
      <h1>QUIERO:</h1>
      <mat-button-toggle-group name="usuarioTipo">
        <mat-button-toggle value="0" class="comprar-btn"
          >Comprar!</mat-button-toggle
        >
        <mat-button-toggle value="1" class="vender-btn"
          >Vender!</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div></div>
  </div>
  <br />
  <div class="footer-container">
    <div></div>
    <div class="btns">
      <button
        mat-raised-button
        class="cancelar-btn"
        style="background-color: lightcoral"
      >
        Cancelar!
      </button>
      <button
        mat-raised-button
        class="registrar-btn"
        style="margin-left: 10px; background-color: lightgreen"
      >
        Registrar!
      </button>
    </div>
    <div></div>
  </div>
</ng-container>
