.grid
    display: grid
    grid-template-columns: 18% auto 18%
    .grid-preguntas
        margin-top: 10%
        display: grid
        grid-template-columns: auto auto
        .registro
            margin: auto
            width: 60%

.comprar-container
    display: grid
    grid-template-columns: 18% auto 18%
    .pregunta-container
        margin: auto
        .comprar-btn
            background-color: lightgreen
            width: 10rem
            border: 10%
            .cdk-touch-focused
                background-color: yellow