<ng-container class="app-container">
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>password</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>repetir password</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>address</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field class="registro-username" appearance="fill">
    <mat-label>date birth</mat-label>
    <input matInput />
  </mat-form-field>
  QUIERO:
  <mat-button-toggle-group name="usuarioTipo">
    <mat-button-toggle value="0">Comprar!</mat-button-toggle>
    <mat-button-toggle value="1">Vender!</mat-button-toggle>
  </mat-button-toggle-group>
  <br />
  <button
    mat-raised-button
    class="cancelar-btn"
    style="background-color: lightcoral"
  >
    Cancelar!
  </button>
  <button
    mat-raised-button
    class="registrar-btn"
    style="margin-left: 10px; background-color: lightgreen"
  >
    Registrar!
  </button>
</ng-container>
